[submodule "dot.local/share/urxvt-scripts"]
	path = dot.local/share/urxvt-scripts
	url = https://github.com/bartman/urxvt-scripts.git
[submodule "dot.local/share/urxvt-font-size"]
	path = dot.local/share/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule "dot.opt/bash-git-prompt"]
	path = dot.opt/bash-git-prompt
        url = https://github.com/norrs/bash-git-prompt.git
