[submodule "dot.local/share/urxvt-scripts"]
	path = dot.local/share/urxvt-scripts
	url = https://github.com/bartman/urxvt-scripts.git
[submodule "dot.local/share/urxvt-font-size"]
	path = dot.local/share/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule "dot.opt/kube-ps1"]
	path = dot.opt/kube-ps1
	url = git@github.com:jonmosco/kube-ps1.git
[submodule "dot.opt/kubectx"]
	path = dot.opt/kubectx
	url = git@github.com:ahmetb/kubectx.git
