# kcd: pip install --user kubecd
dot.gitconfig.custom
dot.local/bin/kcd 
dot.config/taffybar/dist
dot.xmonad/xmonad-*-linux
dot.xmonad/xmonad.errors
dot.xmonad/xmonad.hi
dot.xmonad/xmonad.o
dot.xmonad/xmonad.state
dot.xmonad/prompt-history
dot.local/share/fonts/.uuid
.stack-work
