[Unit]
Description=wallpaper

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/env wallpaper
ExecStop=/usr/bin/pkill wallpaper

[Install]
WantedBy=wm.target
