[Unit]
Description=wallpaper

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=%h/.local/bin/wallpaper
ExecStop=/usr/bin/pkill wallpaper

[Install]
WantedBy=wm.target
